@model GestionPedidos.Models.SalesMan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesMan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalesManCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesManCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesManName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesManName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesManID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
